{% extends "base.html" %}

{% block title %}Freeze objects{% endblock title %}

{% block content %}
    {{ macros.content_title("Freeze objects") }}
    <div class="alert alert-secondary">
        Freeze objects to prevent them from being preserved. This can be done if the object is known to fail preservation at the time. Objects in the workflow cannot be frozen until the corresponding jobs have failed.
    </div>
    <form method="POST" action="{{ url_for('ui.freeze_objects') }}"
          autocomplete="off">
        {{ form.csrf_token }}
        {{ macros.render_field(form.reason) }}
        {{
            macros.render_field(
                form.object_ids,
                placeholder="Insert each object ID into its own line"
            )
        }}
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        <button class="btn btn-primary" type="submit">Freeze</button>
    </form>
{% endblock content %}

{% block post_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
    <script nonce="{{ csp_nonce() }}">
        var freezeReasons = {{ freeze_reasons|tojson }};
        $("#reason").autocomplete({source: freezeReasons });
    </script>
{% endblock post_content %}
