{% extends "base.html" %}

{% block title %}Freeze objects{% endblock title %}

{% block content %}
    {{ macros.content_title("Freeze objects") }}
    {% with messages = get_flashed_messages(category_filter=["freeze_objects"]) %}
        {% if messages %}
            <div class="alert alert-success">
                <strong>Objects were frozen</strong>
                {% for msg in messages %}
                    <div>{{ msg }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
{% endblock content %}
