{% extends "base.html" %}

{% block title %}Change password{% endblock title %}

{% block content %}
    {{ macros.content_title("Change password") }}
    <form method="POST" action="{{ url_for_security('change_password') }}" name="change_password_form">
        {{ change_password_form.hidden_tag() }}
        {{ macros.render_field(change_password_form.password) }}
        {{ macros.render_field(change_password_form.new_password) }}
        {{ macros.render_field(change_password_form.new_password_confirm) }}
        <input class="btn btn-primary" type="submit" value="Change password"/>
    </form>
{% endblock content %}
